.dnd5e.sheet.actor .ability-scores {
  flex: 0 0 100px;
  height: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  border: 2px groove #eeede0;
  border-radius: 3px;
}

.dnd5e.sheet.actor ul.skills-list {
  flex: 0 0 180px;
  height: auto;
  list-style: none;
  margin: 0 5px 0;
  padding: 3px 0 2px;
  border: 2px groove #eeede0;
  border-radius: 3px;
}
/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.dnd5e.sheet.actor.character {
  min-width: 720px;
  min-height: 800px;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Controls                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Biography                                */
  /* ----------------------------------------- */
}
